@font-face {
    font-family: 'Freshman';
    src: url('/fonts/Freshman.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald';
    src: url('/fonts/Oswald-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;  
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('/fonts/RobotoCondensed-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
}

/* - HERO SECTION -*/

.hero {
    position: relative;
    width: 100%;
    height: 600px;
    background-image: url(/img/fotos/estadi_gent.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    overflow: hidden;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.55),
        rgba(0, 0, 0, 0.40));
    z-index: 1;
}

.hero-content {
    text-align: center;
    max-width: 800px;
    color: white;
    text-shadow: 0 3px 6px rgba(0,0,0,0.4);
    position: relative;
    z-index: 2;
}

.hero-content h1{
    font-family: Oswald;
    font-size: 5rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-family: Roboto Condensed;
    font-size: 2rem;
    margin-bottom: 40px;
}

.botons-hero{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.boto-form, .boto-class {
    padding: 14px 28px;
    font-family: Oswald;
    font-size: 1rem;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.2s ease-out;
}

.boto-form{
    background: #F2C94C;
    color: #1C3D84;
    font-weight: 700;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.boto-form:hover{
    background: #FFE27A;

}

.boto-class {
    background: #1e7f3b;
    color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.boto-class:hover {
    background: #2FAE55;
}

/* - ÚLTIMES NOTÍCIES - */

.noticies {
    padding: 60px 40px;
    text-align: center;
}

.noticies h2 {
    font-family: Oswald;
    font-size: 3rem;
    margin-bottom: 40px;
    color: #1C3D84;
}

.grup-noticies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.noticia {
    background: #fcfcf7;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
    cursor: pointer;
}

.noticia:hover {
    transform: translateY(-6px);
    box-shadow: 0 6px 14px rgba(0,0,0,0.25);
}

.noticia img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.noticia-info {
    padding: 20px;
    text-align: left;
}

.categoria {
    font-family: Oswald;
    font-size: 0.9rem;
    color: #1E7F3B;
    font-weight: 700;
}

.data {
    font-family: Roboto Condensed;
    font-size: 0.9rem;
    color: #777;
    margin-left: 10px;
}

.noticia-info h3 {
    font-family: Oswald;
    font-size: 1.3rem;
    margin: 10px 0;
    color: #1C3D84;
}

.noticia-info p {
    font-family: Roboto Condensed;
    font-size: 1rem;
    color: #444;
}

.link-noticia {
    text-decoration: none;
    color: inherit;
    display: block;
}

/* - PRÒXIMS PARTITS - */

.partits{
    padding: 60px 40px;
    text-align: center;
}

.proxims-partits h2 {
    font-family: Oswald;
    font-size: 3rem;
    margin-bottom: 40px;
    margin-top: 40px;
    color: #1C3D84;
    text-align: center;
}

.partits h2{
    font-family: Oswald;
    font-size: 4rem;
    color: #1C3D84;
    margin-bottom: 50px;
}

.llista-partits{
    display: flex;
    flex-direction: column;
    gap:45px;
    max-width: 700px;
    margin: 0 auto;
}

.partit{
    text-align: left;
}

.data-hora{
    font-family: Roboto Condensed;
    font-size: 1.8rem;
    color: #1C3D84;
    font-weight: 700;
    margin-bottom: 8px;
}

.equips {
    font-family: Oswald;
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 15px;
}

.camp {
    font-family: Roboto Condensed;
    font-size: 1.1rem;
    color: #1C3D84;
}

.equip {
    display: flex;
    align-items: center;
    gap: 10px;
}

.equip img {
    width: 40px;
    height: 40px;
}

.vs {
    margin: 0 10px;
    font-size: 1.4rem;
}