@font-face {
    font-family: 'Freshman';
    src: url('../fonts/Freshman.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;  
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensed-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100%;
    flex-direction: column;
    background: #e0dad5;
}

.capsalera-equip {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: #1C3D84;
    padding: 20px 90px 100px;
    gap: 30px;
    height: 200px;
}

.boto-tornar {
    font-family: Roboto Condensed;
    font-size: 1.2rem;
    background: #F2C94C;
    padding: 10px 18px;
    border-radius: 10px;
    color: #1C3D84;
    text-decoration: none;
    font-weight: 600;
    backdrop-filter: blur(6px);
    transition: 0.2s ease;
    justify-self: end;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.boto-tornar:hover {
    background: white;
}

/* -- EQUIP --*/

.escut-equip {
    width: auto;
    height: 160px;
}

.text-equip h1 {
    font-family: Oswald;
    color: white;
    font-size: 2.8rem;
    margin: 0;
    font-weight: 700;
}

.text-equip p {
    margin: 5px 0;
    font-size: 1.1rem;
}

#info-equip {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* ============================
   ENTRENADOR
   ============================ */
   
.entrenador-equip h2 {
    font-family: Oswald;
    font-size: 1.8rem;
    padding: 40px 100px;
    margin-bottom: 15px;
    color: #1C3D84;
}

.entrenador-equip {
    padding: 0 130px;
}


.entrenador-card {
    display: flex;
    align-items: center;
    background: #1C3D84;
    padding: 20px 0;
    border-radius: 15px;
    backdrop-filter: blur(6px);
    width: 100%;
    max-width: 1000px;
    margin-left: 75px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.entrenador-card img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 12px;
    margin-left: 20px;
}

.entrenador-info h3 {
    font-family: Roboto Condensed;
    color: white;
    margin: 30px;
    font-size: 1.6rem;
}

.entrenador-info p {
    margin-top: 8px;
    font-size: 1rem;
    opacity: 0.9;
}

/* ============================
   JUGADORES
   ============================ */

.seccio-jugadores h2 {
    font-family: Oswald;
    font-size: 1.8rem;
    padding: 40px 100px;
    margin-bottom: 15px;
    color: #1C3D84;
    margin-left: 120px;
}

.jugadores-equip {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 40px 200px;
    gap: 35px;
    margin-bottom: 100px;
}

.jugador-card {
    background: white;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    backdrop-filter: blur(6px);
    transition: transform 0.2s ease;
    height: 400px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.jugador-card:hover {
    transform: translateY(-10px);
    transform: scale(1.2);
}

.jugador-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 15px;
}

.jugador-card h3 {
    font-family: Oswald;
    color:#1C3D84;
    font-size: 1.2rem;
}

.jugador-card .posicio {
    font-family: Roboto Condensed;
    color:#1E7F3B;
    font-size: 1rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

.jugador-card p {
    font-family: Roboto Condensed;
    color:#1C3D84;
    margin: 3px 0;
    font-size: 1rem;
}


/* -- VEURE JUGADORA -- */

.capsalera-jugadora {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: #1C3D84;
    padding: 20px 90px 100px;
    gap: 30px;
    height: 200px;
}

#info-jugadora {
    display: flex;
    align-items: center;
    gap: 20px;
}

.capsalera-jugadora .escut-equip {
    width: auto;
    height: 160px;
}

.capsalera-jugadora .text-equip h1 {
    font-family: Oswald;
    color: white;
    font-size: 2.8rem;
    margin: 0;
    font-weight: 700;
}

.jugadora-detalle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 23px;
    margin-top: 60px;
    padding: 20px 0;
}

/* FOTO: entra desde la izquierda */
.jugadora-detalle img {
    width: 280px;
    height: 280px;
    object-fit: cover;
    border-radius: 18px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.22);
    opacity: 0;
    animation: fotoSlideLeft 0.7s ease forwards;
    margin-bottom: 25px;
}

/* TEXTO: entra desde la derecha */
.jugadora-detalle h2,
.jugadora-detalle p {
    opacity: 0;
    animation: textSlideRight 0.7s ease forwards;
}

.jugadora-detalle h2 {
    font-family: Oswald;
    font-size: 3rem;
    color: #1C3D84;
    margin-bottom: 20px;
    animation-delay: 0.1s;
}

.jugadora-detalle p {
    font-family: Roboto Condensed;
    font-size: 1.3rem;
    color: #1C3D84;
    margin: 3px 0;
    animation-delay: 0.15s;
    font-weight: 600;
}

#posicio {
    color: #1E7F3B;
    font-weight: 800;
    font-size: 1.5rem;
}

/* Animaciones laterales */
@keyframes fotoSlideLeft {
    from { opacity: 0; transform: translateX(-40px); }
    to   { opacity: 1; transform: translateX(0); }
}

@keyframes textSlideRight {
    from { opacity: 0; transform: translateX(40px); }
    to   { opacity: 1; transform: translateX(0); }
}